@page
@using Pace_Calculator.Pages
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Please enter at least two of the three fields.</p>
</div>
<body>
  <form method="post" >
    <fieldset>
      <legend>Pace</legend>
      <div>
        <input asp-for="paceHours" class="form-control" />
        <label asp-for="paceHours">HH</label>
      </div>
      <div>
        <label asp-for="paceMinutes">MM</label>
        <input asp-for="paceMinutes" class="form-contorl" />
      </div>
      <div>
        <label asp-for="paceSeconds">SS.M</label>
        <input asp-for="paceSeconds" class="form-control"/>
      </div>
    </fieldset>
    <fieldset>
      <legend>Distance</legend>
      <div>
        <label for="UserInput.Distance">Enter the Distance</label>
        <input type="number" name="Distance" value="" />
      </div>
    </fieldset>
    <fieldset>
      <legend>Total Time</legend>
      <div>
        <label asp-for="totalHours">HH</label>
        <input asp-for="totalHours" class="form-control" />
      </div>
      <div>
        <label asp-for="totalMinutes">MM</label>
        <input asp-for="totalMinutes" class="form-contorl" />
      </div>
      <div>
        <label asp-for="totalSeconds">SS.M</label>
        <input asp-for="totalSeconds" class="form-control"/>
      </div>
    </fieldset>
    <fieldset>
      <legend>Select your unit of distance</legend>
      <div>
          <input type="radio" id="km" name="UserInput.Unit" value="km" checked />
          <label for="km">km</label>
      </div>
      <div>
          <input type="radio" id="miles" name="UserInput.Unit" value="miles" />
          <label for="miles">miles</label>
      </div>
      <div>
          <input type="radio" id="meters" name="UserInput.Unit" value="meters" />
          <label for="meters">meters</label>
      </div>
      <div>
          <input type="radio" id="meters" name="UserInput.Unit" value="meters" />
          <label for="meters">meters</label>
      </div>
      <div>
          <input type="radio" id="feet" name="UserInput.Unit" value="feet" />
          <label for="feet">feet</label>
      </div>
    </fieldset>
  </form>
        <div>
          <form method="post">
            <div>
              <label asp-for="UserInput.GpxFile">Upload GPX File</label>
              <input type="file" name="GpxFile">
          </div>
      </form>
    </div>
</body>