@page
@using Pace_Calculator.Pages
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Please enter at least two of the three fields.</p>
</div>
<body>
  <form method="post">
    <fieldset>
      <legend>Pace</legend>
      <div>
        <input asp-for="PaceHours" class="form-control" />
        <label asp-for="PaceHours">HH</label>
      </div>
      <div>
        <input asp-for="PaceMinutes" class="form-control" />
        <label asp-for="PaceMinutes">MM</label>
      </div>
      <div>
        <input asp-for="PaceSeconds" class="form-control"/>
        <label asp-for="PaceSeconds">SS</label>
      </div>
    </fieldset>
    <fieldset>
      <legend>Distance</legend>
      <div>
        <input asp-for="InputDistance" class="form-control"/>
        <label asp-for="InputDistance">Distance</label>
      </div>
    </fieldset>
    <fieldset>
      <legend>Total Time</legend>
      <div>
        <input asp-for="TotalHours" class="form-control" />
        <label asp-for="TotalHours">HH</label>
      </div>
      <div>
        <input asp-for="TotalMinutes" class="form-control" />
        <label asp-for="TotalMinutes">MM</label>
      </div>
      <div>
        <input asp-for="TotalSeconds" class="form-control"/>
        <label asp-for="TotalSeconds">SS</label>
      </div>
    </fieldset>
    <fieldset>
      <legend>Select your unit of distance</legend>
      <div>
          <input type="radio" id="km" name="Unit" value="km" checked />
          <label for="km">km</label>
      </div>
      <div>
          <input type="radio" id="miles" name="Unit" value="miles" />
          <label for="miles">miles</label>
      </div>
      <div>
          <input type="radio" id="meters" name="Unit" value="meters" />
          <label for="meters">meters</label>
      </div>
      <div>
          <input type="radio" id="feet" name="Unit" value="feet" />
          <label for="feet">feet</label>
      </div>
    </fieldset>
    <button type="submit" formmethod="post" class="btn btn-primary">Calculate</button>
  </form>
  <div>
    <form method="post">
      <div class="form-group">
        <label asp-for="GpxFile" class="control-label">Upload GPX File</label>
        <input asp-for="GpxFile" class="form-control" accept=".gpx"/>
        <span class=></span>
      </div>
    </form>
  </div>
  @if(Model.paceCharts != null)
  {
  <div>
    <table>
      <tr>
        <th>Mark</th><!--Will need to make this dynamic based on userInput.Unit-->
        <th>Pace</th>
        <th>Time</th>
      </tr>
      <tr>
        @foreach(var p in Model.paceCharts)
        {
          <tr>
            <td>@p.Distance</td>
            <td>@p.Pace</td>
            <td>@p.CummulativeTime</td>
          </tr>
        }
      </tr>
    </table>
  </div>
  }
</body>