@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<body>
      <form method="post" >
        <fieldset>
          <legend>Pace</legend>
          <div>
            <label asp-for="UserInput.PaceHours">HH</label>
            <input asp-for="UserInput.PaceHours" class="form-control" />
          </div>
          <div>
            <label asp-for="UserInput.PaceMinutes">MM</label>
            <input asp-for="userInput.PaceMinutes" class="form-contorl" />
          </div>
          <div>
            <label asp-for="UserInput.PaceSeconds">SS.M</label>
            <input asp-for="userInput.PaceSeconds" class="form-control"/>
          </div>
        </fieldset>
                <fieldset>
          <legend>Distance</legend>
          <div>
            <label for="Distance">Enter the Distance</label>
            <input type="text" name="totalDistance" value="" />
          </div>
        </fieldset>
        <fieldset>
        <legend>Select your unit of distance</legend>

        <div>
            <input type="radio" id="km" name="unit" value="km" checked />
            <label for="km">km</label>
        </div>

        <div>
            <input type="radio" id="miles" name="unit" value="miles" />
            <label for="miles">miles</label>
        </div>

        <div>
            <input type="radio" id="meters" name="unit" value="meters" />
            <label for="meters">meters</label>
        </div>

        <div>
            <input type="radio" id="meters" name="unit" value="meters" />
            <label for="meters">meters</label>
        </div>

        <div>
            <input type="radio" id="feet" name="unit" value="feet" />
            <label for="feet">feet</label>
        </div>
    </fieldset>

    </form>
    <div>
      <form method="post">
        <div>
          <label asp-for="gpxFile">Upload GPX File</label>
          <input type="file" name="GpxFile">
        </div>
      </form>
    </div>
</body>